<div class="benefits-small_wrapper">
  <div class="benefits-small_feature">

    <p>Darmowa dostawa</p>
  </div>
  <div class="benefits-small_feature is-second">

    <p>14 dni na zwrot</p>
  </div>
  <div class="benefits-small_feature">
    <svg class="icon-embed-xsmall" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--tabler" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M5 17a2 2 0 1 0 4 0a2 2 0 1 0-4 0m10 0a2 2 0 1 0 4 0a2 2 0 1 0-4 0"></path><path d="M5 17H3v-4M2 5h11v12m-4 0h6m4 0h2v-6h-8m0-5h5l3 5M3 9h4"></path></g></svg>
    <p>Wysyłka w 24h</p>
  </div>
  <div class="benefits-small_feature is-last">
    <svg class="icon-embed-xsmall" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M18 7a1.003 1.003 0 0 0 1.71.71c.4-.4 1.04-2.46 1.04-2.46s-2.06.64-2.46 1.04c-.18.18-.29.43-.29.71"></path><path fill="currentColor" d="M19 2c-2.76 0-5 2.24-5 5c0 2.05 1.23 3.81 3 4.58V12c0 .55.45 1 1 1v5c0 .55-.45 1-1 1s-1-.45-1-1v-3a3.009 3.009 0 0 0-4-2.83V5c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2v-4c0-.55.45-1 1-1s1 .45 1 1v3c0 1.65 1.35 3 3 3s3-1.35 3-3v-5c.55 0 1-.45 1-1v-.42c1.77-.77 3-2.53 3-4.58c0-2.76-2.24-5-5-5M6 19.5l-2-2v-2.83l2 2zm0-5l-2-2V9.67l2 2zm0-5l-2-2V4.67l2 2zm4 8l-2 2v-2.83l2-2zm0-5l-2 2v-2.83l2-2zm0-5l-2 2V6.67l2-2zm9 2.5c-1.66 0-3-1.34-3-3s1.34-3 3-3s3 1.34 3 3s-1.34 3-3 3"></path></svg>
    <p>Sprawdzone przez specjalistów</p>
  </div>
</div>