<div class="carrier-wrapper">
                            <div id="w-node-d9a7e613-5bb4-8c3b-05cf-44394cfcac5b-4cfcac5a" class="carrier-content">
                              <div class="icon-1x1-large" data-w-id="d9a7e613-5bb4-8c3b-05cf-44394cfcac5c" data-animation-type="lottie" data-src="documents/wired-outline-757-delivery.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-duration="0"></div>
                              <div class="text-size-large text-weight-bold">Kurier zawsze gratis</div>
                              <p>W naszym sklepie dostawa jest zawsze gratis, niezależnie od ilości zamawianych sztuk. Przesyłki dostarczymy błyskawicznie za pomocą kuriera GLS lub GEIS.</p>
                            </div>
                            <div id="w-node-d9a7e613-5bb4-8c3b-05cf-44394cfcac61-4cfcac5a" class="carrier-content">
                              <div class="icon-1x1-large" data-w-id="d9a7e613-5bb4-8c3b-05cf-44394cfcac62" data-animation-type="lottie" data-src="documents/wired-outline-2367-loan.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-duration="0"></div>
                              <div class="text-size-large text-weight-bold">Odbiór osobisty - Nowa Ruda</div>
                              <p>Możliwy jest również darmowy odbiór osobisty w naszym serwisie pod adresem: 57-402 Nowa Ruda, Bożkowska 1</p>
                            </div>
                          </div>