<header class="navbar7_component">
  <div class="navbar7_container">
    <a href="" class="navbar7_logo-link">
      <img src="{{ shop.brand.logo | img_url: '375x100' }}" alt="{{shop.name}}" class="navbar7_logo"/>
    </a>
    <div class="navbar7_menu">
      <div class="navbar7_menu-left">
      </div>
    </div>
    <div class="navbar7_menu-right">
    </div>
  </div>
</header>