<div class="payment-list_component">
  <div class="payment-list">
    <div class="payment-list_item">
      <div class="payment-list_item-content">
        <div class="text-color-grayiron600">Metoda płatności</div>
        <div class="text-color-grayiron600">Szybkość</div>
        <div class="text-color-grayiron600">Prowizja</div>
      </div>
    </div>
    <div class="payment-list_item">
      <div class="payment-list_item-content">
        <div class="payment-list_item-icon">
          <div class="text-weight-semibold">Przelewy24</div>
        </div>
        <div>Natychmiast</div>
        <div>Bez prowizji</div>
      </div>
    </div>
    <div class="payment-list_item">
      <div class="payment-list_item-content">
        <div class="payment-list_item-icon">
          <div class="text-weight-semibold">Pobranie</div>
        </div>
        <div>Natychmiast</div>
        <div>Bez prowizji</div>
      </div>
    </div>
    <div class="payment-list_item">
      <div class="payment-list_item-content">
        <div class="payment-list_item-icon">
          <div class="text-weight-semibold">Klarna</div>
        </div>
        <div>Natychmiast</div>
        <div>Bez prowizji</div>
      </div>
    </div>
    <div class="payment-list_item">
      <div class="payment-list_item-content">
        <div class="payment-list_item-icon">
          <div class="text-weight-semibold">Przelew na konto</div>
        </div>
        <div>24h</div>
        <div>Bez prowizji</div>
      </div>
    </div>
    <div class="payment-list_item">
      <div class="payment-list_item-content">
        <div class="payment-list_item-icon">
          <div class="text-weight-semibold">Płatność gotówką przy odbiorze osobistym</div>
        </div>
        <div>Natychmiast</div>
        <div>Bez prowizji</div>
      </div>
    </div>
  </div>
</div>