<div class="size-help-wrapper" id="modal-open-tirehelp">
  <img src="{{ 'IcRoundHelp.svg' | asset_url }}">
  <div class="text-size-tiny text-weight-medium">Jak dobrać rozmiar opony?</div>
</div>

<div class="size-help_modal-component" id="modal-component-tirehelp">
  <div class="size-help_modal-content-wrapper">
    <a
      class="size-help_modal-close-button"
      href="#"
      id="modal-close-tirehelp">
      <img src="{{ 'IcRoundCloseRed.svg' |  asset_url }}" class="icon-embed-small">
    </a>
    <div class="margin-bottom margin-large">
      <div class="text-align-center">
        <div class="max-width-large align-center">
          <div class="margin-bottom margin-xsmall">
            <h2>Objaśnienia parametrów</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="size-help_modal-content">
      <div class="size-help_modal-content_item">
        <div class="text-size-large text-weight-bold">Szerokość</div>
        <div class="text-size-small">Szerokość opony przed zamontowaniem na aucie.</div>
      </div>
      <div class="size-help_modal-content_item">
        <div class="text-size-large text-weight-bold">Profil</div>
        <div class="text-size-small">Wysokość opony podana jako procent szerokości.</div>
      </div>
      <div class="size-help_modal-content_item">
        <div class="text-size-large text-weight-bold">Średnica</div>
        <div class="text-size-small">Średnica felgi, na której zamontujesz oponę.</div>
      </div>
      <div class="size-help_modal-content_right">
        <div class="size-help_modal-content_item">
          <div class="text-size-large text-weight-bold">Run on Flat</div>
          <div class="text-size-small">Opony Run on flat umożliwiają dalszą jazdę nawet po całkowitym ubytku powietrza. Można w ten sposób przejechać średnio 80 km z prędkością maks. 80 km/h.</div>
        </div>
        <div class="size-help_modal-content_item">
          <div class="text-size-large text-weight-bold">Wzmacniane</div>
          <div class="text-size-small">Opony wzmacniane mają podwyższoną nośność. Dzięki temu lepiej spełniają wymagania stawiane przed oponami używanymi w pojazdach np. dostawczych. Zazwyczaj opony wzmacniane oznakowuje się literami XL (ang. extra load), jednak w zależności od producenta można spotkać inne symbole.</div>
        </div>
      </div>
      <img class="size-help-image" src="{{ 'TireInfo.webp' | asset_url }}">
      <div class="size-help_modal-content_bottom">
        <div class="size-help_modal-content_item">
          <div class="text-size-large text-weight-bold">Nośność</div>
          <div class="text-size-small">Indeks nośności określa maksymalne obciążenie, z jakim opona może być eksploatowana w jeździe z maksymalną prędkością dopuszczaną przez producenta opon.</div>
        </div>
        <div class="size-help_modal-content_item">
          <div class="text-size-large text-weight-bold">Prędkość</div>
          <div class="text-size-small">Indeks prędkości informuje o maksymalnej, dopuszczalnej prędkości dla danej opony.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="size-help_modal-background" id="modal-background-tirehelp"></div>
</div>