<div class="section_tire-model_tabs background-color-grayiron100">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-small">
        <div class="tire-model_component">
          <div class="tire-model_content-bottom">
            <div id="w-node-_52de7d99-7e6a-4899-d411-47fb9d34059a-9d340594" class="tire-model_description">
              <div data-current="Tab 1" data-easing="ease-in-out" data-duration-in="100" data-duration-out="100" class="tire-model_tabs w-tabs">
                <div class="tire-model_tabs-menu w-tab-menu" role="tablist">
                  <a data-w-tab="Tab 1">
                    <div>Opis</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>