document.addEventListener('DOMContentLoaded', function() {

    async function fetchData(url) {
        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return await response.json();
        } catch (error) {
            console.error('Fetch error: ', error);
        }
    }

    function populateSelect(selectElement, optionsArray) {
        selectElement.innerHTML = optionsArray.map(option =>
            `<option value="${option.value}">${option.value}</option>`
        ).join('');
        selectElement.selectedIndex = 0;
    }

    async function fetchAndPopulateTireWidths() {
        const tireWidthsResponse = await fetchData('https://api.wheel-size.com/v2/by_tire/sw/?user_key=8608442fd845888bda065b97c8d141d9');
        if (tireWidthsResponse && tireWidthsResponse.data) {
            populateSelect(document.getElementById('widths'), tireWidthsResponse.data.map(tw => ({ value: tw.value })));
        }
    }

    document.getElementById('widths').addEventListener('click', function() {
        fetchAndPopulateTireWidths();
    });

});