<header class="section_header46">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-xsmall">
                <div class="div-block-19">
                    <div class="margin-bottom margin-xsmall">
                        <h1 class="heading-style-h3">{{ collection.title }}</h1>
                    </div>
                    <div></div>
                    <p class="text-size-medium">Opony w rozmiarze 205/55 R16 są zdecydowanie najpopularniejsze wśród
                        kierowców. W szczególności dotyczy to opon zimowych, ponieważ w przypadku letnich właściciele
                        samochodów bardzo często decydują się na szersze zamienniki, głównie ze względu na aspekt wizualny.
                    </p>
                    <div data-hover="false" data-delay="200" class="dropdown1_component w-dropdown">
                        <div class="dropdown1_toggle"
                            aria-haspopup="menu"
                            aria-expanded="false"
                            role="button">
                            <div>Sortuj według</div>
                            <div class="dropdown-chevron w-embed">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     aria-hidden="true" role="img" class="iconify iconify--ic" width="100%"
                                     height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                          d="m8.71 11.71l2.59 2.59c.39.39 1.02.39 1.41 0l2.59-2.59c.63-.63.18-1.71-.71-1.71H9.41c-.89 0-1.33 1.08-.7 1.71"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section_filters2 background-color-grayiron100">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-small">
                <div class="filters2_component">
                    <div class="filters2_layout">
                        <div class="filters2_filters-wrapper">
                            <div class="filters2_form-block w-form">
                                <form method="get" class="filters2_form">
                                    <div class="filters2_form-header">
                                        <div class="filters2_heading">Filtry</div>
                                        <a href="#"
                                           class="button is-link hide-tablet w-inline-block">
                                            <div class="text-clear-filters">Wyczyść wszystkie</div>
                                        </a>
                                    </div>
                                    <div class="filters2_scroll-wrapper">
                                        <div class="filters2_filter-group-list">
                                            <div class="filters2_filter-group">
                                                <div class="filters2_filter-group-heading">
                                                    <div class="text-size-medium text-weight-semibold">Szukaj opon</div>
                                                </div>
                                                <div data-current="Tab 1" data-easing="ease" data-duration-in="300"
                                                     data-duration-out="100" class="w-tabs">
                                                    <div class="tabs-menu-3 w-tab-menu" role="tablist"><a
                                                                data-w-tab="Tab 1"
                                                                class="tab-link-tab-2 w-inline-block w-tab-link w--current"
                                                                id="w-tabs-0-data-w-tab-0"
                                                                role="tab"
                                                                aria-controls="w-tabs-0-data-w-pane-0"
                                                                aria-selected="true">
                                                            <div>wg rozmiaru</div>
                                                        </a><a data-w-tab="Tab 2"
                                                               class="tab-link-tab-2 w-inline-block w-tab-link"
                                                               tabindex="-1" id="w-tabs-0-data-w-tab-1"
                                                               role="tab"
                                                               aria-controls="w-tabs-0-data-w-pane-1"
                                                               aria-selected="false">
                                                            <div>wg auta</div>
                                                        </a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

</script>

<script type="text/javascript" src="{{ 'filters.js' | asset_url }}"></script>